.cadastroLivroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .cadastroLivroForm {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .cadastroLivroForm input,
  .cadastroLivroForm textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Aqui é um estilo específico para textarea */
  .cadastroLivroForm textarea {
    resize: vertical; /* Permite redimensionamento vertical */
    min-height: 80px;
  }
  
  /* Estilo do botão */
  .cadastroLivroForm button {
    width: 100%;
    padding: 12px;
    background-color: #28a745; /* Verde = Sucesso ou Aprovado */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cadastroLivroForm button:hover {
    background-color: #218838; 
  }
  
  .cadastroLivroForm input,
  .cadastroLivroForm textarea,
  .cadastroLivroForm button {
    margin-top: 10px;
  }