/* Estilo da Página */
.createUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .createUserForm {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
  }
  
  .createUserForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Estilo do botão */
  .createUserForm button {
    width: 100%;
    padding: 12px;
    background-color: #28a745; /* Verde = Aprovado ou Sucesso */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .createUserForm button:hover {
    background-color: #218838; 
  }
  
  .createUserForm input,
  .createUserForm button {
    margin-top: 10px;
  }